section
  .container
    input#All(type="radio", name="categories", value="All", checked="")
    input#Car(type="radio", name="categories", value="Car")
    input#Bike(type="radio", name="categories", value="Bike")

    ol.filters
      li
        label(for="All") All
      li
        label(for="Car") Car
      li
        label(for="Bike") Bike

    ol.posts
      li.post(data-category="Car")
        article
          figure
            a(href="#", target="_blank")
              img(
                src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",
                alt=""
              )
            figcaption
              ol.post-categories
                li
                  a(href="") Car
              h2.post-title
                a(href="#", target="_blank")
                  | Lorem ipsum dolor sit amet.

      li.post(data-category="Bike")
        article
          figure
            a(href="#", target="_blank")
              img(
                src="https://images.unsplash.com/photo-1568772585407-9361f9bf3a87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",
                alt=""
              )
            figcaption
              ol.post-categories
                li
                  a(href="") Bike
              h2.post-title
                a(href="#", target="_blank")
                  | Recusandae pariatur nesciunt delectus laborum ab qui enim!

      li.post(data-category="Bike")
        article
          figure
            a(href="#", target="_blank")
              img(
                src="https://images.unsplash.com/photo-1558981285-6f0c94958bb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",
                alt=""
              )
            figcaption
              ol.post-categories
                li
                  a(href="") Bike
              h2.post-title
                a(href="#", target="_blank")
                  | Odit, aperiam eveniet?

      li.post(data-category="Bike Car")
        article
          figure
            a(href="#", target="_blank")
              img(
                src="https://images.unsplash.com/photo-1513178359328-01a5acb7c772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",
                alt=""
              )
            figcaption
              ol.post-categories
                li
                  a(href="") Bike
                li
                  a(href="") Car
              h2.post-title
                a(href="#", target="_blank")
                  | Pariatur obcaecati numquam autem soluta culpa.

